@import "normalize.css";
@import "variables.css";

body{
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    background: url("../images/countries.jpg") no-repeat fixed top center ;
    background-size: cover;
}
a {
    color:#333;
    text-decoration: none;
}
a:hover {
    font-weight: bold;
}
@media only screen and (min-width: 980px){
    .container {
        width:850px;
        margin:0 auto;
    }
}
@media only screen and (min-width: 1270px){
    .container {
        width:1260px;
        margin:0 auto;
    }
}
@media only screen and (max-width: 600px){
    header nav{
        display: none;
    }
}
header{
    display: flex;
    justify-content: space-between;
    margin:var(--margin);
    align-items: center;
    padding:1rem 1.5rem;
    background: var(--background)
}
header nav ul li {
    display: inline-flex;
    margin-left:0.7rem ;
}
header nav ul li img {
    margin-right:0.4rem ;
}
header .title{
    font-size: 2rem;
    display: flex;
    align-items: center;
    font-weight: bold;
}
header .title a {
    color:#1D3557;
}
header .title img {
    margin-right: 0.7rem;
}
.content {
    padding:1rem 1.5rem;
    margin:var(--margin);
    background: var(--background);
}
.countries {
    max-width:100%;
    display:flex;
    flex-wrap: wrap;

}
.country{
    display:flex;
    flex-direction: column;
    margin:0.7rem;
    justify-content: center;
    align-items: center;
    width: 195px;
    height: 175px;
    overflow: hidden;
    border:1px dashed #cccccc;
    padding:5px
}
.country:hover{
    border:1px solid #aaa;
}
.country img{
    width:170px;
}
.country-name{
    max-height: 2.3rem;
    overflow: hidden;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:var(--margin);
    padding:var(--margin);
    background: var(--background);
}
.content-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.content-header-title{
    display: flex;
    align-items: center;
}
.content-header-title h2{
    margin-left:10px;
}
.content-header-search input {
    background:#fff;
    border:1px solid #ccc;
    padding:0.7rem;
}
.content-information-container {
    border:1px dashed #ccc;
    padding:1rem;
}
.content-information {
    display: flex;
}
.content-information{
    padding:0.5rem;
}
.information-title {
    font-weight: bold;

}
.information-title:after{
    content: ':';
}
.information-detail {
    margin-left:0.7rem;
    white-space: pre-line
}
.center {
    text-align: center
}
.pagination{
    display: flex;
}
.pagination-link{
    margin-left:0.5rem;
    padding:0.7rem;
    border:1px solid #ccc;
}
.active {
    background:#cccccc;
}
